:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
body{
    background-color: var(--Light-Grayish-Blue);
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}
.component{
    margin: 100px auto;
    display: flex;
    max-width: 700px;
    border-radius: 10px;
    background-color: #ffffff;
}

.component .image-container{
    width: 100%;
    border-radius: 10px 0 0 10px;
    background: url("../images/drawers.jpg") #fff no-repeat center center/cover ;
}

.component .component-content{
    padding: 0px;
}
.component .component-content .content-header{
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 20px;
    line-height: 1.2;
    margin: 40px 40px 0 40px;
}
.component .component-content .content-paragraph{
    color: var(--Desaturated-Dark-Blue);
    line-height: 1.5;
    margin: 40px 40px 0 40px;
}
.component .author-info{
    display: flex;
    align-items: center;
}
.component .author-info .avatar{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.component .author-info .author-info2{
    display: flex;
    flex-direction: column;
}
.component .author-info .author-info2>span{
    color: var(--Desaturated-Dark-Blue);
}

.component .author-info .author-info2>strong{
    color: var(--Very-Dark-Grayish-Blue);
    margin-bottom: 10px;
}
.component .author-component{
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 20px;
}
.component .author-component .share{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    position: relative;
}
.component .author-component .share-tool-tip{
    background-color: var(--Very-Dark-Grayish-Blue);
    color: var(--Desaturated-Dark-Blue);
    display: none;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: -50px;
    padding: 10px;
    width: 150px;
    margin-left: -75px;
}
.component .author-component .share .share-tool-tip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
}
.share-mobile-view{
    display: none;
}
@media screen and (max-width: 425px){
    .container{
        max-width: 375px;
    }
    .component {
        margin: 50px auto;
        flex-direction: column;
        max-width: 325px;
    }

    .component .image-container{
        min-height: 255px;
        border-radius: 10px 10px 0 0;
    }
    .component .component-content .content-header{
        font-size: 15px;
        line-height: 1.2;
    }

.black{
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 0 0 5px 5px;
    height: 50px;
}
.author-info.d-none{
    display: none;
}
.show{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 140px;
    color: var(--Desaturated-Dark-Blue);
}
}